* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Chronicle Display';
  src: url('../ChronicleDisp-XLight.otf') format('opentype');
}

.container {
  padding: 0 60px;
}

ul li {
  list-style: none;
}

h2 {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2;
  font-family: 'Chronicle Display';
}

a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;
}

.number {
  font-size: 160px;
  color: #ffffff;
  opacity: 0.1;
}

.right-header {
  position: absolute;
  top: 10px;
  right: 435px;
}

.hero__page__container--right--content p {
  margin-top: 35px;
  margin-bottom: 32px;
  padding-right: 30px;
}

.hero__page__container.second__hero {
  gap: 161px;
}

.top {
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: 600;
  color: #fbd784;
  position: relative;
  top: -114px;
  left: 78px;
}

.top::before {
  content: '';
  width: 72px;
  height: 2px;
  background-color: #fbd784;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 32px;
}

.read {
  color: #fbd784;
  display: flex;
  align-items: center;
  font-size: 14px;
}

@mixin Screen4K {
  @media screen and (min-width: 2560px) {
    @content;
  }
}

@mixin Laptop {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin Tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin Mobile-L {
  @media screen and (max-width: 425px) {
    @content;
  }
}

@mixin Mobile-M {
  @media screen and (max-width: 375px) {
    @content;
  }
}

@mixin Mobile-S {
  @media screen and (max-width: 320px) {
    @content;
  }
}

@mixin Ixr-12Pro {
  @media screen and (min-width: 390px) and (max-width: 414px) {
    @content;
  }
}

@mixin IPA-SP7 {
  @media screen and (min-width: 820px) and (max-width: 912px) {
    @content;
  }
}

@mixin IpadMini {
  @media screen and (width: 768px) {
    @content;
  }
}

@mixin SurfaceDuo {
  @media screen and (width: 540px) {
    @content;
  }
}

@mixin GFold {
  @media screen and (width: 280px) {
    @content;
  }
}

@mixin NestHub {
  @media screen and (width: 1280px) {
    @content;
  }
}
