.nav {
  //   margin-top: 60px;
  padding-top: 45px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--mid-lists {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        margin: 0 15px;

        a {
          font-size: 13px;
        }
      }
    }

    &--last-lists {
      display: flex;
      justify-content: space-between;

      li {
        margin: 0 3px;

        a {
          font-size: 13px;
        }
      }
    }
  }
}
