.hero__page__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 102px;
  padding-right: 100px;
  padding-left: 285px;
  position: relative;

  &--left {
    max-width: 455px;

    &--content {
      p {
        margin-top: 35px;
        margin-bottom: 32px;
      }
    }
  }

  &--left--header {
    position: absolute;
    top: -15px;
    left: 235px;
  }
}
